body {
    padding: 0;
    margin: 0;
    background-color: #E4F2EA;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
   
}

/* Zeroing out spacing *********************/
h1, h2, h3, h4, h5, h6, ul, li, a, blockquote {
    padding: 0;
    margin: 0;
    font-family: 'Bowlby One SC', cursive; 
}

/****** Header Section ********************/
header {
    background-color: red;
    min-height: 250px;
     text-align:center;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 10%;
position: relative; /* Parent container must have position property */
	padding: 2.5%
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 10em;
    margin-top: -.2em;
    margin-bottom: -.6em;
     color:white;
     text-align:center;
}

header h2 {
    margin: 0;
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: /*Adds FULL Drop Shadow around text */
        3px 3px 5px #11181E,
        -2px -2px 5px #11181E,
        2px -2px 5px #11181E,
        -2px 2px 5px #11181E,
        2px 2px 5px #11181E;
}

.firstE {
    color: #A68160;
}

.letterG {
    color: #E4F2EA;
}

.lastE {
    color: #A68160;
}

.hNav {
    text-align: center;
      padding: .8em;
  }
  
  .hNav ul {
      display: block;
      padding-left: 150px;
  }
  
  .hNav ul li {
      display: inline;
      list-style: none;
}
  
  .hNav a {
      color:greenyellow;
      font-size: 1.7em;
      padding: 0 1.3em;
      text-decoration: none;
  }
  
  .hNav a:hover {
      color: #734F2F;
      text-decoration: underline;
  }

/****** Main Section **********************/
main {
    width: 60%;
    margin: 0 auto;
    /*border: 2px solid ;*/
}

.puppy {
    border-radius: 40px 0 40px 0;
}
/****** Footer Section ********************/
footer {
    background-color: #11181E;
    height: 150px;
}

footer nav ul {
    display: block;
    float: right;
}

footer nav ul li {
    display: inline-block;
    list-style: none;
    padding: 1em;
}

footer nav ul li a {
    color: #E4F2EA;
    text-decoration: none;
    font-size: 1.5em;
}
    
footer nav ul li a:hover {
    color: #A68160;
    text-decoration: underline;
}

footer p {
    clear: right;
    float: right;
    color: #E4F2EA;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    margin-right: 50px;
}
    
#container{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
	font-family: 'Crimson Pro', serif;
    background-color: #E4F2EA;
    
}

#container img{
	float: left;
	margin-right: 2%;
	border: 20px double;
	border-radius: 10px;
	text-align: right;
    background-color: #E4F2EA;

}

.frame{
	position: relative;
	max-width: 450px;
}

/*Style rule for form element */
	form {
		background-color: #FFFFFF;
		padding: 1em;
	}
	
	/* Style rule for paragraph within form element */
	form p {
		color: #000000;
	}


#btn1 {
  top: 100px;
}

#btn2 {
  top: 200px;
}

#btn3 {
  top: 300px;
}

#btn4{
top: 400px;
}
#btn5{
top: 500px;
}

div.button {
  background-color: #ffffff;
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 500px;
  height: 60px;
  position: fixed;
  left: -435px;
  transition: .7s ease;
}

div.button:hover {
  background-color: #ffffff;
  position: fixed;
  left: -50px;
  width: 600px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px #c0392b;
}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}

.gfg {
    margin: 3%;
    position: relative;
}

.first-txt {
    position: absolute;
    top: 17px;
    left: 50px;
}

.second-txt {
    position: absolute;
    bottom: 20px;
    left: 10px;
}


/* power holding the image and the text */
.power {
    position: relative;
    text-align: center;
    color: red;
  }


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


 .navBarTop {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: black;
    border-bottom: 1px solid red;
	 color: white;
}

.navBarTop ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0; 
    margin-left: 350px;

}

.navBarTop li {
    float: left; 
}

.navBarTop li a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    font-family: "Arial";
    color: white;
    border-right: 1px solid #4c4c4c; 
}

.navBarTop li:first-child a {
    border-left: 1px solid #4c4c4c; 
}

.navBarTop li a:hover {
    background-color: red; 
}

nav{
  position: absolute; 
  bottom: 20px; /* Move the nav 20px from the bottom of parent container*/
}


.mobile {
	display: inline-block;
}

.center{
text-align:center;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


